#ignore misc BYOND files
Thumbs.db
vchat.db
vchat.db*
*.log
*.int
*.rsc
*.dmb
*.lk
*.backup
*.before
*.pyc
data/
cfg/


maps/southern_cross/backup/southern_cross-1.dmm

maps/southern_cross/southern_cross-1.dmm
